* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}
body {
  width: 100%;
  height: 1000px;
  background: #d0def762;
}
img {
  max-width: 100%;
}
.top-ber {
  width: 100%;
  height: 34px;
  padding: 30px;
  background: #222;
  position: fixed;
  box-sizing: border-box;
  z-index: 123;
}
input {
  display: none;
}
#top-btn {
  margin-top: -13px;
  color: #fff;
  position: fixed;
  margin-left: 90px;
  font-size: 20px;
  transition: 0.5s;
  padding: 3px 5px;
  transition-property: color;
  border: 1.5px solid #1db0d5;
  border-radius: 5px;
}
#top-btn:hover {
  color: #1db0d5;
}
.left {
  float: left;
  color: #fff;
  font-size: 22px;
  margin-top: -11px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: 26px;
  box-sizing: border-box;
}
.left span {
  color: #1db0d5;
}
.right {
  float: right;
  font-size: 18px;
  text-transform: uppercase;
  background: #1db0d5;
  padding: 5px 10px;
  border-radius: 3px;
  margin-top: -15px;
  font-weight: 450;
  box-sizing: border-box;
  transition: 0.5s;
}
.right a {
  text-decoration: none;
  color: #fff;
}
.right:hover {
  background: #20768c;
}
.img {
  width: 90px;
  margin-top: 30px;
  border-radius: 50%;
  margin-bottom: 7px;
}
center h2 {
  font-size: 20px;
  font-weight: 550;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.side-ber {
  background: #333;
  overflow: hidden;
  position: fixed;
  left: 0px;
  top: 60px;
  width: 220px;
  height: 500px;
  transition: 0.5s;
  z-index: 1;
  transition-property: left;
}
.side-ber a {
  width: 100%;
  line-height: 46px;
  font-size: 20px;
  display: block;
  text-decoration: none;
  padding-left: 25px;
  color: #fff;
  transition: 0.5s;
  border-bottom: 1px solid #111;
}
.side-ber i {
  transition: 0.5s;
  transition-property: left;
}
.side-ber a:nth-child(1) {
  border-top: 1px solid #111;
}
.side-ber a:hover {
  background: #1db0d5;
}
.side-ber a i, span {
  transition: 0.5s;
}
.side-ber a:hover i,span {
  margin-left: 10px;
}
.side-ber a span {
  margin-left: 10px;
}

#check:checked ~ .side-ber {
  left: -175px;
}
#check:checked ~ .side-ber a:hover i, span {
  margin-left: 0px;
}
#check:checked ~ .side-ber center {
  display: none;
}
#check:checked ~ .side-ber .ber-items {
  margin-top: 70px;
}
#check:checked ~ .side-ber span {
  display: none;
}
#check:checked ~ .side-ber i {
  padding-left: 161px;
}
.content {
  background: url(car.jpg), linear-gradient(45deg, #d5d52fbd, #2a4fe2d0);
  background-blend-mode: soft-light;
  margin-left: 220px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 560px;
  transition: 0.5s;
  text-align: center;
}
#check:checked ~ .content {
  margin-left: -20px;
  padding-left: 65px;
}
.content h2{
  padding-top: 200px;
  font-size: 50px;
  font-weight: 400;
  color: #222;
}
.content h4{
  padding-top: 0px;
  font-size: 27px;
  font-weight: 400;
  color: #222;
}
.content p{
  font-size: 20px;
  font-weight: 380;
  color: #fff;
  margin-top: 10px;
  padding: 10px 70px;
  background: linear-gradient(90deg, #d5d52fcb, #3274ead3);
}
.mobile-nav {
  display: none;
}
@media(max-width:758px) {
  .left {
    margin-left: -10px;
  }
  .right {
    margin-right: -6px;
  }
  .side-ber {
    display: none;
  }
  .top-ber #top-btn {
    display: none;
  }
  .content {
    margin-left: -20px;
  }
  .mobile-nav {
    display: block;
    position: fixed;
    width: 100%;
  }
  .nav {
    padding-top: 60px;
  }
  .nav-img-ber {
    width: 100%;
    height: 70px;
    background: #111;
    display: flex;
    justify-content: space-between;
  }
  .phn-btn {
    font-size: 22px;
    color: #fff;
    margin-right: 25px;
    margin-top: 23px;
    transition: 0.5s;
    padding: 3px 5px;
    margin-bottom: 14px;
    border: 1.5px solid #1db0d5;
    border-radius: 5px;
  }
  .phn-btn:hover {
    color: #1db0d5;
  }
  .mobile-img img {
    padding: 8px;
    width: 70px;
    box-sizing: border-box;
    border-radius: 50%;
    margin-left: 13px;
  }
  .nav-items a {
    display: block;
    width: 100%;
    background: #333;
    line-height: 50px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    color: #fff;
    font-weight: 450;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    transition-property: background;
  }
  .nav-items a:hover {
    background: #1db0d5;
  }
  .nav-items i {
    padding-right: 15px;
  }
  .nav-items {
    transform: scaleY(0);
    transition: 0.6s;
    transform-origin: top;
    opacity: 0;
    transition-property: transform;
  }
  .active {
    opacity: 1;
    transform: scaleY(1);
  }
}